.root{
    -fx-background-image: url("/images/bg.jpg");
    -fx-font-family: "Georgia";
    -fx-font-weight: bold;
    -fx-font-size: 25;
}

.label{
    -fx-text-fill: orangered;
}

.button{
    -fx-pref-width: 225;
    -fx-pref-height: 50;
}

#sh{
    -fx-text-fill: orange;
}

.buttonEasy{
    -fx-background-color: linear-gradient(darkcyan, lightskyblue);
    -fx-background-radius: 10;
    -fx-background-insets: 0;
    -fx-text-fill: black;
}

.buttonEasy:hover{
    -fx-background-color: white;
    -fx-text-fill: black;
}

.buttonMedium{
    -fx-background-color: linear-gradient(darkslateblue, mediumpurple);
    -fx-background-radius: 10;
    -fx-background-insets: 0;
    -fx-text-fill: black;
}

.buttonMedium:hover{
    -fx-background-color: white;
    -fx-text-fill: black;
}

.buttonHard{
    -fx-background-color: linear-gradient(black, red);
    -fx-background-radius: 10;
    -fx-background-insets: 0;
    -fx-text-fill: black;
}

.buttonHard:hover{
    -fx-background-color: white;
    -fx-text-fill: black;
}

.buttonEnter{
    -fx-background-color: linear-gradient(dimgray, lightseagreen);
    -fx-background-radius: 10;
    -fx-background-insets: 0;
    -fx-text-fill: black;
}

.buttonEnter:hover{
    -fx-background-color: white;
    -fx-text-fill: black;
}

.buttonEnter:pressed{
    -fx-rotate: 10;
    -fx-background-color: white;
    -fx-text-fill: black;
}

#tf{
    -fx-pref-width: 300;
    -fx-pref-height: 50;
    -fx-background-radius: 50;
    -fx-background-insets: 0;
    -fx-background-color: whitesmoke;
}